[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
peewee = "*"
responses = "*"
mocker = "*"
mock = "*"
pytest-mock = "*"
coverage = "*"

[packages]
requests = "*"
Authlib = "*"
ratelimit = "*"
google-api-python-client = "*"
pandas = "*"

[requires]
python_version = "3.8"
